@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --color-bordes: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}

body {
    background-color: rgb(106, 0, 206);
    height: 100vh;
    /* box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2); */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.sub-container {
    padding: 30px 60px 45px 60px;
    box-shadow: 1px 2px 8px rgb(40, 7, 41);
    border-radius: 5%;
    position: relative;
    z-index: 100;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

#title {
    text-align: center;
    color: rgb(236, 236, 236);
    font-size: 50px;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
}

button {
    min-height: 80px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 1px;
    margin: 0;
    border: none;
}

.x::after {
    content: "x";
    color: white;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -62%) scale(1);
    font-size: 100px;
    animation: animacion-aparicion 0.7s;
    pointer-events: none;
}

@keyframes animacion-aparicion {
    0% {
        transform: translate(-50%, -53%) scale(0);
    }


    50% {
        transform: translate(-50%, -65%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -62%) scale(1);
    }
}

.o::after {
    content: "o";
    color: white;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -62%);
    font-size: 100px;
    animation: animacion-aparicion 0.7s;
    pointer-events: none;
}



.uno {
    border-right: 3px solid var(--color-bordes);
    border-bottom: 3px solid var(--color-bordes);
}

.dos {
    border-bottom: 3px solid var(--color-bordes);
}

.tres {
    border-left: 3px solid var(--color-bordes);
    border-bottom: 3px solid var(--color-bordes);
}

.cuatro {
    border-right: 3px solid var(--color-bordes);
    border-bottom: 3px solid var(--color-bordes);
}

.cinco {
    border-bottom: 3px solid var(--color-bordes);
}

.seis {
    border-left: 3px solid var(--color-bordes);
    border-bottom: 3px solid var(--color-bordes);
}

.siete {
    border-right: 3px solid var(--color-bordes);
}

.nueve {
    border-left: 3px solid var(--color-bordes);
}

#pantalla-container {
    display: none;
    position: absolute;
    top: -150%;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: end;
    justify-content: center;
    display: flex;
    transition: top ease-in-out 0.3s;
}

#pantalla-container.activo {
    top: 0;
}

#pantalla-btn {
    width: 150px;
    height: 50px;
    margin-bottom: 2rem;
    font-size: 30px;
    background-color: var(--color-bordes);
    border: none;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    color: rgb(106, 0, 206);
    transition: all ease-in-out 0.2s;
    z-index: 300;
}

#pantalla-btn:hover {
    transform: scale(1.05);
}

#pantalla-texto {
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;
    color: #fff;
    font-size: 10vw;
    padding-bottom: 50px;
}

#pantalla-texto h1 {
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    animation: salto-texto 1s;
}

@keyframes salto-texto {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}